<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    {% if page.url == "/" %}
      <header class="page-header" role="banner">
        <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
        {% endif %}
        {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
          <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
        {% endif %}
      </header>
    {% endif %}

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </footer>
    </main>

    <style type="text/css">
      .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: white;
      }
    </style>
    <script type="text/javascript">
      var keyRegex = /^([C|Db|D|Eb|E|F|Gb|G|Ab|A|Bb|B]{1}#?)/;
      var keys = ['C', 'C#', 'Db', 'D', 'D#', 'Eb', 'E', 'F', 'F#', 'Gb', 'G', 'G#', 'Ab', 'A', 'A#', 'Bb', 'B'];


      var suffixes = [
        'maj',
        'm',
        'dim',
        'dim7',
        'sus2',
        'sus4',
        '7sus4',
        'alt',
        'aug',
        '6',
        '69',
        '7',
        '7b5',
        'aug7',
        '9',
        '9b5',
        'aug9',
        '7b9',
        '7b9#5',
        '7#9',
        '11',
        '9#11',
        '13',
        '13b9',
        '13b5b9',
        'b13b9',
        'b13#9',
        'maj7',
        'maj7b5',
        'maj7#5',
        'maj9',
        'maj11',
        'maj13',
        'm6',
        'm7',
        'm7b5',
        'm9',
        'm69',
        'm9b5',
        'm11',
        'mmaj7',
        'mmaj7b5',
        'mmaj9',
        'mmaj11',
        'add9',
        'madd9',
      ];
      var imgs = document.querySelectorAll('img');

      var addedSticky = false;
      for (var i = 0; i < imgs.length; i++) {
        // If we find a chord SVG, get the parent element and add sticky class
        if (imgs[i].src.indexOf('chords/main/svgs') !== -1) {
          if (!addedSticky) {
            imgs[i].parentElement.classList.add('sticky');
            addedSticky = true;
          }

          var match = imgs[i].alt.match(keyRegex);
          if (match) {
            var key = match[0];
            var a = document.createElement('a');
            a.href = 
              'https://mateffy.me/ukulele-chords/docs/chords/' 
              + encodeURIComponent(key) 
              + '#' 
              + imgs[i].alt.toLowerCase().replace(/\#/g, '');

            wrap(imgs[i], a);
          }
        }
      }

      function wrap(el, wrapper) {
          el.parentNode.insertBefore(wrapper, el);
          wrapper.appendChild(el);
      }
    </script>
  </body>
</html>
